{% raw %}
<div class="suggest">
    <div class="container fx fx-wrap">
        <div class="suggest-txt col-2">
            <h2 class="title-h2 col-white">Zaproponuj nowy prezent!</h2>
            <p>
                Mozesz zaproponować nowy prezent który uwazasz za godny ale którego jeszcze nie ma na naszej liście.
            </p>
            <a href="addGift.html" class="link-more">Dodaj swój prezent<span></span></a>
        </div>
        <div class="suggest-group col-2">
            <!-- Item 1 -->

            <div class="suggest-item">
                <span class="line bg-light-silver"></span>
                <span class="line bg-light-silver"></span>
            </div>

            <!-- Item 2 -->

            <div class="suggest-item">
                <span class="line bg-light-orange"></span>
                <span class="line bg-light-orange"></span>
            </div>
        </div>
    </div>
</div>
{% endraw %}