{% raw %}
<div class="suggest">
    <div class="container fx fx-wrap articles">
        <div class="col-1 articles-title">
            <h2 class="title-h2 col-white text-center">Te artykuły mogą Ci pomóc!</h2>
        </div>
        <!-- <div class="suggest-group col-2">

            <div class="suggest-item">
                <span class="line bg-light-silver"></span>
                <span class="line bg-light-silver"></span>
            </div>


            <div class="suggest-item">
                <span class="line bg-light-orange"></span>
                <span class="line bg-light-orange"></span>
            </div>
        </div> -->

        <div class="row fx fx-wrap">
            <!-- Item 1 -->

            <div class="col-2">
                <div class="give-item">
                    <h3><span class="i-toy"></span>Jak dobrze wybrać zabawkę</h3>
                    <p>
                        Tu będzie teskt o tym jak dobrze wybrać zabawkę. Tu będzie teskt o tym jak dobrze wybrać zabawkę.
                        Tu będzie teskt o tym jak dobrze wybrać zabawkę. Tu będzie teskt o tym jak dobrze wybrać zabawkę.
                        Tu będzie teskt o tym jak dobrze wybrać zabawkę. Tu będzie teskt o tym jak dobrze wybrać zabawkę.
                        Tu będzie teskt o tym jak dobrze wybrać zabawkę. Tu będzie teskt o tym jak dobrze wybrać zabawkę.
                    </p>
                </div>
            </div>

            <!-- Item 2 -->

            <div class="col-2">
                <div class="give-item">
                    <h3><span class="i-souvenir"></span>Dlaczego pamiątki zapamiętają się</h3>
                    <p>
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                    </p>
                </div>
            </div>

            <!-- Item 3 -->

            <div class="col-2">
                <div class="give-item">
                    <h3><span class="i-brilliant"></span>Bizuteria</h3>
                    <p>
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                    </p>
                </div>
            </div>

            <!-- Item 4 -->

            <div class="col-2">
                <div class="give-item">
                    <h3><span class="i-creative"></span>Hand made</h3>
                    <p>
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                        Tu będzie teskt o tym jak dobrze wybrać pamiątkę. Tu będzie teskt o tym jak dobrze wybrać pamiątkę.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}