{% raw %}
<div class="nicely">
    <div class="container">
        <!-- Items -->

        <div class="nicely-item fx align-center">
            <div class="nicely-txt">
                <!-- TODO translate -->
                <h2 class="title-h2">Miło dawać prezenty!</h2>
                <p>
                    Prezent jest jednym z najlepszych sposobów wykazania troski
                    w stosunku do bliskich osób. Niestety najcześciej zamało
                    czasu poświęcamy na wybór prezenta, co skutkuje marnowaniem
                    pieniędzy i wyborem prezentu tylko jako fakt... Zawsze
                    lepiej poświęcić trochę czasu i wybrać najlepiej pasujący
                    do danej sytuacji prezent. Nasz portal natomiast postara
                    się w tym maksymalnie wspomóc.
                </p>
                <!-- TODO translate -->
            </div>
            <div class="nicely-img"></div>
        </div>
    </div>
</div>
{% endraw %}