<!-- TODO -->
{% raw %}
<div class="give" id="statistics-link-section">
    <div class="container">
        <!-- Title -->

        <h2 class="title-h2 col-white text-center">Prezenty</h2>

        <!-- Row -->

        <div class="row fx fx-wrap">

            <div v-for="link in statisticsLinks" class="col-4 statistics-link-container">
                <div class="statistics-link animate">
                    <a v-bind:href="link.link">
                        <table>
                            <tr>
                                <td>
                                    <img v-bind:src="link.img">
                                </td>
                                <td>
                                    <div class="statistics-link-text">{{ link.text | translate }}</div>
                                </td>
                            </tr>
                        </table>
                    </a>
                    <!-- <div class="green-arrow"></div> -->
                </div>
            </div>

        </div>
    </div>
</div>
{% endraw %}