<!-- TODO translations -->
{% raw %}
<div class="desire">
    <div class="container fx fx-wrap">
        <div class="desire-txt col-2">
            <h3>Zrób swój wkład!</h3>
            <p>
                Mozesz wypełnić ankietę i pomóc w zbieraniu statystyk dla prezentów.
                Jest dwa typy ankiet: mała (ok. 1 minuty) albo większa (ok. 5 minut).
            </p>
            <a href="#" class="link-more">Wypełnij ankietę<span></span></a>
        </div>
        <div class="desire-group col-2">
            <span class="line line-max bg-dark-silver"></span>
            <span class="line line-min bg-dark-silver"></span>
            <ul class="desire-list">
                <li>+ Wypełnij małą ankietę</li>
                <li>+ Wypełnij duzą ankietę</li>
                <li>+</li>
                <li>+</li>
            </ul>
        </div>
    </div>
</div>
{% endraw %}