  <!-- Footer -->
{% raw %}
<footer class="footer">
    <div class="container">

        <!-- Logo -->

        <a href="index.html" class="logo"><span></span><br />wybierz-prezent.pl</a>

        <!-- Nav -->

        <nav class="nav">
            <ul class="list-nav fx fx-center align-center">
                <li><a href="#">{{ "Home" | translate }}</a></li>
                <li><a href="#">{{ "Statistics" | translate }}</a></li>
                <li><a href="#">{{ "Find" | translate }}</a></li>
                <li><a href="#">{{ "FAQ" | translate }}</a></li>
                <li><a href="privacy.html" target="_blanc">{{ "PrivacyPolicy" | translate }}</a></li>
            </ul>
        </nav>

        <!-- Copyright -->

        <p class="copyright"><span>wybierz-prezent.pl</span> © Copyright 2018.
            {{ "ReservedRights" | translate }}</p>

    </div>
</footer>
{% endraw %}