  <!-- Footer -->
<footer class="footer">
    <div class="container">

        <!-- Logo -->

        <a href="index.html" class="logo"><span></span><br />wybierz-prezent.pl</a>

        <!-- Nav -->

        <nav class="nav">
            <ul class="list-nav fx fx-center align-center">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Подобрать подарок</a></li>
                <li><a href="#">Вопрос & ответ</a></li>
            </ul>
        </nav>

        <!-- Copyright -->

        <p class="copyright"><span>wybierz-prezent.pl</span> © Copyright 2018.
            All right reserved</p>

    </div>
</footer>