  <!-- Header -->
  <header class="header">
    <div class="container fx fx-between align-center">
  
      <!-- Logo -->
  
      <a href="index.html" class="logo fx align-center"><span></span>wybierz-prezent.pl</a>
  
      <!-- Navbar-toggle -->
  
      <button class="navbar-toggle">
        <span class="icon-bar speed"></span>
        <span class="icon-bar speed"></span>
        <span class="icon-bar speed"></span>
      </button>
  
      <!-- Nav -->
      {% raw %}
      <nav class="nav main-nav fx align-center">
        <ul class="list-nav fx align-center">
          <li><a href="#">{{ "Home" | translate }}</a></li>
          <li><a href="#">{{ "Statistics" | translate }}</a></li>
          <li><a href="#">{{ "Find" | translate }}</a></li>
          <li><a href="#">{{ "FAQ" | translate }}</a></li>
        </ul>
        <a href="#" class="cabinet">{{ "LogIn" | translate }}</a>
      </nav>
      {% endraw %}
  
    </div>
  </header>