#portalDescription {
    width: 50vw;
}

#lang-selector {
    margin-left: 5vw;
    height: 35px;
}

.privacy-policy {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 3vh;

    padding: 20px 20px 20px 20px;

    background-color: #efefef;
}

.privacy-policy ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.privacy-policy li {
    list-style-type: decimal;
}

.copyright {
    font-size: 70%;
}

#portalDescriptionMore {
    color: white;
}

#portalDescriptionMore ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#portalDescriptionMore li {
    list-style-type: disc;
}

.articles-title {
    margin-bottom: 50px;
}

.give-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; 
}

.articles .row .col-2 {
    padding: 0 10px;
    margin-bottom: 20px;
}

.statistics-link {
    height: 130px;
    background: #fff;
    padding: 40px 48px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.green-arrow {
    /* margin-left: 25px; */
    display: inline-block;
    /* vertical-align: middle; */
    /* width: 10px;height: 18px; */
    background: url(../img/icons/more-green.png) no-repeat;
}

.statistics-link a {
    cursor: pointer;
    color: black;
}

.statistics-link img {
    vertical-align: middle;
    margin-right: 10px;
}

.statistics-link td {
    vertical-align: middle;
}

.statistics-link-text {
    padding-left: 10px;
    /* font-size: 90%; */
    /* padding-left: 10px; */
    /* text-indent: 30px; */
}

.statistics-link:hover {
    background: orange;
    cursor: pointer;
}