@font-face {
  font-family: DidactGothicRegular; /* Имя шрифта */
  src: url(../fonts/DidactGothicRegular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/RobotoLight.ttf);
}
