<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="pl">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>wybierz-prezent.pl</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/img/icons/favicon.ico" />

    <!-- load styles -->
    
    <link rel="stylesheet" href="assets/css/fonts.css" />
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/media.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />

    <!-- Vue js loading -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- jQuery loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Custom js loading -->
    <script type="module" src="assets/js/main.js"></script>
</head>

<body>
    <div id="main-container">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    </div>

    <!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
  <![endif]-->
    <!-- Vue scripts -->
    <script type="module" src="assets/js/vueBodyApp.js"></script>
</body>

</html>